# Created by https://www.toptal.com/developers/gitignore/api/node,macos,webstorm
# Edit at https://www.toptal.com/developers/gitignore?templates=node,macos,webstorm

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# CMake
cmake-build-*/

*.iml
.idea/*

# End of https://www.toptal.com/developers/gitignore/api/node,macos,webstorm
