@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

@layer components {
  .search-input {
    @apply w-60 mb-5 block;
  }

  .details {
    @apply w-11/12 p-12 mt-0 mx-auto mb-24 border-8 bg-[#faeff0] shadow;
  }

  .carousel {
    @apply flex justify-around text-center w-fit mt-8;
  }

  .carousel-smaller {
    @apply w-1/2;
  }

  #modal {
    @apply bg-white bg-opacity-0 fixed z-10 flex justify-center text-center;
  }
}

@layer utilities {
  .grayed-out-disabled {
    @apply disabled:opacity-50;
  }

  .details p {
    @apply leading-3 py-0 px-14;
  }

  .details h1 {
    @apply text-center text-gray-800 text-9xl my-5 mx-0;
  }

  .details h2 {
    @apply text-center mt-5 mb-20 my-0;
  }

  .carousel > img {
    @apply max-w-96;
  }

  .carousel-smaller > img {
    @apply w-[100px] h-[100px] rounded-lg inline-block m-[15px] cursor-pointer border-2 border-solid border-gray-400;
  }

  .carousel-smaller > img.active {
    @apply border-gray-50 opacity-55;
  }

  #modal button,
  #modal a,
  .details button {
    background-color: #ad343e;
    padding: 5px 25px;
    color: white;
    font-size: 18px;
    border: #333 1px solid;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }

  #modal a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
  }

  #modal:empty {
    display: none;
  }

  #modal > div {
    max-width: 500px;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    background: #faeff0;
  }

  #modal .buttons button {
    display: inline-block;
    margin-right: 15px;
  }
}
